.pry_nav,
.card {
  background: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 0px;
  display: flex;
  margin-bottom: 0px;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

a {
  color: #545e6f;
  text-decoration: none;
}

nav a {
  background: #f0f0f0;
  border-radius: 4px;
  padding: 6px 10px;
  margin-right: 10px;
}

nav a.active {
  color: #fff;
  background: #7600dc;
}
nav a.inactive {
  font-style: italic;
  transition: all 0.3s ease 0s;
}

nav a:hover {
  color: #1e0236;
}