.text_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#hd1{
    display: flex;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

